.main-content {
    width: 45%;
    height: 500px;
    border-radius: 20px;
    margin: 5em auto;
    display: flex;
}

.picture {
    background-image: url("./assets/RegisterPic.jpg");
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.row>h2 {
    color: #ff00a0;
}

.login_form {
    background-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

form {
    padding: 0 2em;
}

.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 1em;
    margin: 1.5em auto;
    transition: all .5s ease;
}